{{ define "form"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OFIS</title>
</head>
<body>
  <form method="POST" enctype="multipart/form-data">
    {{ range .Elements }}
      {{ if eq (getElementType .) "Section" }}
        {{template "section" .}}
      {{ else if eq (getElementType .) "Field" }}
        {{template "field" .}}
      {{ else }}
        <p>An error occured</p>
      {{ end }}
    {{ end }}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
{{ end }}